{% extends "home/main.html" %}

{% load static %}

{% block head_content %}
<title>Science - {{ science }}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/content/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/content/courses.css' %}">
{% endblock %}

{% block container %}

        <div class="card-wrapper">
            {% for course in active_asignation %}
                <div class="card">
                    <a href="/courses{{ science }}/{{ course.name }}">
                        {% if course.logo %}
                            <img src="{{ course.logo.url}}" />
                        {% else %}
                            <img src="{% static 'img/whiteboard.png' %}"/>
                        {% endif %}
                    </a>
                    <label class="course_name">{{ course.name }}</label>
                    {% if course.active %}
                        <label class="asignation_remove" onclick="location.href='/courses/remove_course/?course={{course.name}}'">Remove</label>
                    {% else %}
                        <label class="asignation_add" onclick="location.href='/courses/asign_course/?course={{course.name}}'">Add</label>
                    {% endif %}

                    
                </div>
            {% endfor %}
        </div>
        


        
{% endblock %}