{% extends "home/main.html" %}

{% load static %}

{% block head_content %}
<title>Science - Courses</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/content/courses.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/content/cards.css' %}">
{% endblock %}

{% block container %}

        {% include 'home/content/nav.html'%}

        <hr class="rounded">

        <div class="card-wrapper">
            {% for science in sciences %}
                <div class="card">
                    <a href="/courses/show/{{ science.name }}">
                        {% if science.image %}
                            <img src="{{ science.image}}" />
                        {% else %}
                            <img src="{% static 'img/whiteboard.png' %}"/>
                        {% endif %}
                    </a>
                    <label>{{ science.name }}</label>

                </div>                
            {% endfor %}
        </div>

        {{sciences.0.image.url}}
{% endblock %}
