{% load static %}

<div id="item-logo-background" class="">
    <div id ="item-logo" class="item-logo">
    <i class="bi bi-tornado"></i>
        Logo
    </div>
</div>

<!--<hr class="rounded">-->

<div id="item-blank1-background" class="item-background blank1">
    <div id ="item-blank1" class="sidebar-item blank1">
            <br>
    </div>
</div>

<div id="item-home-background" class="item-background home">
    <div id ="item-home" class="sidebar-item home" onclick="page(this)">
    <i class="bi bi-grid"></i>
        Home
    </div>
</div>

<div id="item-user-background" class="item-background user">
    <div id="item-user" class="sidebar-item user" onclick="page(this)">
    <i class="bi bi-person"></i>
        User
    </div>
</div>

<div id="item-courses-background" class="item-background courses">
    <div id="item-courses" class="sidebar-item courses" onclick="page(this)">
    <i class="bi bi-book"></i>
        Courses
    </div>
</div>

<div id="item-settings-background" class="item-background settings">
    <div id="item-settings" class="sidebar-item settings" onclick="page(this)">
    <i class="bi bi-gear-fill"></i>
        Settings
    </div>
</div>

<div id="item-support-background" class="item-background support">
    <div id="item-support" class="sidebar-item support" onclick="page(this)">
    <i class="bi bi-megaphone"></i>
        Support
    </div>
</div>

<div id="item-quit-background" class="item-background quit">
    <div id="item-quit" class="sidebar-item quit" onclick="page(this)">
    <i class="bi bi-x-circle"></i>
        Quit
    </div>
</div>

<div id="item-comodin-background" class="item-background comodin">
    <div id="item-comodin" class="sidebar-item comodin" href="#" onclick="page(this)">
    <i class="bi bi-music-player-fill"></i>
        Comodin
    </div>
</div>

<div id="item-blank2-background" class="item-background blank2">
    <div id ="item-blank2" class="sidebar-item blank2">
            <br>
            <br>
            <br>
    </div>
</div>


