{% load static %}


<div class="sidebar">
    <div id="item-logo-background" class="">
        <div id ="item-logo" class="item-logo">
        <i class="bi bi-tornado"></i>
            Logo
        </div>
    </div>

    <!--<hr class="rounded">-->

    <div id="item-blank1-background" class="item-background">
        <div id ="item-blank1" class="sidebar-item">
             <br>
        </div>
    </div>
    <div id="item-home-background" class="item-background">
        <div id ="item-home" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-grid"></i>
            Home
        </div>
    </div>

    <div id="item-user-background" class="item-background">
        <div id="item-user" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-person"></i>
            User
        </div>
    </div>

    <div id="item-courses-background" class="item-background">
        <div id="item-courses" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-book"></i>
            Courses
        </div>
    </div>

    <div id="item-settings-background" class="item-background">
        <div id="item-settings" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-gear-fill"></i>
            Settings
        </div>
    </div>

    <div id="item-support-background" class="item-background">
        <div id="item-support" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-megaphone"></i>
            Support
        </div>
    </div>

    <div id="item-quit-background" class="item-background">
        <div id="item-quit" class="sidebar-item" onclick="page(this)">
        <i class="bi bi-x-circle"></i>
            Quit
        </div>
    </div>

    <div id="item-comodin-background" class="item-background">
        <div id="item-comodin" class="sidebar-item" href="{% url 'home:main' %}" onclick="page(this)">
        <i class="bi bi-music-player-fill"></i>
            Comodin
        </div>
    </div>

    <div id="item-blank2-background" class="">
        <div id ="item-blank2" class="sidebar-item">
             <br>
             <br>
             <br>
        </div>
    </div>
</div>


<script src= "{% static 'js/sidebar.js' %}"></script>