/* The navigation menu links */
.item-background .sidebar-item{
    background-color: rgb(48, 49, 49);
    color: white;
    border-radius: 0%;
  }

#item-courses{
    color: black;
    background-color: white;
    border-radius: 25px 0px 0px 25px;

}

#item-user{
    padding: 15px 15px 15px 10px;
    background-color: rgb(48, 49, 49);
    border-radius: 20px 0px 25px 20px;
    border-color: white;

}

#item-settings{
    background-color: rgb(48, 49, 49);;
    border-radius: 25px 25px 0px 25px;
    border-color: white;

}

#item-user-background, #item-settings-background{
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}
