/* The navigation menu links */
.item-background .sidebar-item{
    background-color: rgb(48, 49, 49);
    color: white;
    border-radius: 0%;
  }

#item-user{
    color: black;
    background-color: white;
    border-radius: 25px 0px 0px 25px;

}

#item-home{
    padding: 15px 15px 15px 10px;
    background-color: rgb(48, 49, 49);
    border-radius: 0px 0px 25px 0px;
    border-color: white;

}

#item-courses{
    background-color: rgb(48, 49, 49);
    border-radius: 0px 25px 0px 0px;
    border-color: white;

}

#item-home-background, #item-courses-background{
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}




.p-info{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    column-gap: 50px;
    font-size: 25px;
    background-color: white;
    overflow: hidden;
    padding-right: 15px;
}

.p-info img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.data {
    width: 100%;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
}
