{% extends "auth/base.html" %}

{% block head_content %}
{% load static %}
<title>Science - Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block container %}
 
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                    <p class="text-white-50 mb-5">Please enter your info</p>
                    <form method="post" action="{% url 'auth:signup' %}">
                        {% csrf_token %}

                        {% for error in form.username.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="form-outline form-white mb-4">
                            <input type="email" name="username" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Email</label>
                        </div>
                        
                        {% for error in form.first_name.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="form-outline form-white mb-4">
                            <input type="text" name="first_name" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">First Name</label>
                        </div>
                        
                        {% for error in form.last_name.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="form-outline form-white mb-4">
                            <input type="text" name="last_name" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Last Name</label>
                        </div>

                            {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger">{{ error }} </p>
                            {% endfor %}
                        <div class="form-outline form-white mb-4">
                            <input type="password" name="password" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Password</label>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <input type="password" name="password_confirmation" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Password Confirmation</label>
                        </div>

                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign up</button>
                    </form>
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                        <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                        <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                        <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>

                    </div>

                    <div>
                    <p class="mb-0">Alreay have an account? <a href="{% url 'auth:login' %}" class="text-white-50 fw-bold">Sign in</a>
                    </p>
                    </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


    
{% endblock %}