{% block html %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% block head %}
            <meta charset="UTF-8">
            <script src="../front/src/main.js" />
        {% endblock head %}
    </head>
        <body>
            {% block body %}
            
                {% comment %} <div id="app"></div> {% endcomment %}
                {% block content %}

                {% endblock content %}

            {% endblock body %}
        </body>
    </html>

{% endblock html %}