/* The side navigation menu */
.body {
  background-color: rgb(81, 63, 51);
  font-family: 'Architects Daughter';
  overflow: hidden;
}
.wrapper {
  width: 100%;
}

.sidebar {
  float:left;
  width: 200px;
  padding: 0px 0px 0px 6px;
  transition: 0.5s;
}

.main-panel {
  float:left;
  width: calc(100% - 200px);
  padding: 15px 15px 15px 0px;
  transition: 0.5s;
}

.panel {
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: auto;
}

.panel > div {
  overflow: auto;
  height: 92vh ;
}


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .sidebar{  
    float: none;  
    position: fixed;
    width: 0%;
    visibility:hidden;
  } 
  .main-panel {
    width: 100%;
  }
  
  .main-panel {
    float:left;
    width: 100%;
    padding: 15px 15px 15px 15px;
  }
}
  