/* The side navigation menu */
.body {
  background-color: rgb(81, 63, 51);
  font-family: 'Architects Daughter';
}

/*.wrapper {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 100%;
  gap: 0px;
  overflow: hidden;

}*/

.sidebar {
  float:left;
  width: 10%;
  padding: 0px 0px 0px 6px;
}

.main-panel {
  float:left;
  width: 90%;
  padding: 15px 15px 15px 0px;
}

.panel {
  background-color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: auto;
}

.panel > div {
  overflow: auto;
  height: 92vh ;
}


@media only screen and (max-width: 1300px) {
  /* For mobile phones: */
  .sidebar, .main-panel {
    width: 100%;
  }
  
  .main-panel {
    float:left;
    width: 100%;
    padding: 15px 15px 15px 15px;
  }
}
  