/* The side navigation menu */
.body {
  background-color: rgb(48, 49, 49);
  font-family: 'Architects Daughter';
  overflow: visible;
}

.sidebar {
  float:left;
  width: 200px;
  padding: 0px 0px 0px 6px;
  transition: 0.5s;
}

.main-panel {
  float:left;
  width: calc(100% - 205px);
  padding: 15px 15px 15px 0px;
  margin: 5px 5px 5px 0px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  transition: 0.5s;
  height: 98.5vh;
  overflow:auto;
}

.content {
  padding: 70px 15px 15px 15px;

}

.content > div {
}


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .sidebar{  
    float: none;  
    position: fixed;
    width: 0%;
    visibility:hidden;
  } 
  
  .main-panel {
    float:left;
    width: calc(100% - 10px);
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    height: 98.7vh;
  }
}
  