    /* The navigation menu links */
.item-background .sidebar-item {
  padding: 15px 15px 15px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border-radius: 25px 0px 0px 25px;
  border-color: white;
}
  
.item-logo {
  padding: 15px 15px 15px 10px;
  text-decoration: none;
  font-size: 50px;
  color: white;
  display: block;
  border-radius: 30px 0px 0px 30px;
  border-color: white;
}

.sidebar-item.home{
  color: black;
  background-color: white;
  display: block;
  border-radius: 25px 0px 0px 25px;

}

.sidebar-item.blank1{
  background-color: rgb(48, 49, 49);
  border-radius: 0px 0px 25px 0px;
  border-color: white;

}

.sidebar-item.user{
  background-color: rgb(48, 49, 49);
  border-radius: 0px 25px 0px 0px;
  border-color: white;

}

.item-background.blank1, #item-user-background{
  color: black;
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}